# A random password for the lamassu admin user. Should be long and should not contain special signs.
LAMASSU_ADMIN_PASSWORD=

# Should be the host machine's DNS namme / IP address. It must be accessible from inside docker containers, i.e. dagster-pipeline.
# Usually the IP of the host docker runs at will be fine: http://my-machines-ip:8500
LAMASSU_BASE_URL=http://10.70.172.11:8500

# Credentials for DbConnect API. Mind the rate limit. transformer-proxy will set ttls for static/dynamic feeds. The required ttls need to be set matching the approved rate limits.
LAMASSU_DB_CONNECT_CLIENT_ID=client
LAMASSU_DB_CONNECT_API_KEY=secret

# Credentials for Tier.
LAMASSU_TIER_API_URL=client
LAMASSU_TIER_USER=client
LAMASSU_TIER_PASSWORD=secret

# User and password from Deer
DEER_USER=
DEER_PASSWORD=

# A random password which will be used for the postgresql database which is used by Dagster. Should be long and should not contain special
# signs.
DAGSTER_POSTGRES_PASSWORD=

# A random password for geoserver admin access
GEOSERVER_ADMIN_PASSWORD=FNn71ymEeBJ13VHd
