{
  admin off
}

http://:80 {
  # index page
  handle / {
    root * /var/www/index-page
  }

  # IPL assets
  handle_path /datasets/* {
    root * /var/www/datasets
  }
  # Webcam
  handle_path /webcam/* {
    root * /var/www/webcam
    file_server browse
  }

  # well-known URIs (security.txt, favicon.ico, etc.)
  handle /robots.txt {
    root * /var/www/well-known
  }
  handle /favicon.ico {
    root * /var/www/well-known
  }
  handle_path /.well-known/* {
    root * /var/www/well-known
  }

  # The brotli (.br) encoding is not included in the standard caddy distribution.
  encode zstd gzip
  file_server {
    precompressed gzip zstd br
  }
}

http://:81 {
  root * /var/goaccess/report
  encode zstd gzip
  file_server
}
