<?xml version="1.0" encoding="UTF-8"?>
<Context antiResourceLocking="false" override="true" docBase="geoserver" privileged="true" path="/${WEBAPP_CONTEXT}">
	<!-- connect via pgbouncer to improve performance -->
	<Resource name="jdbc/ipl-db"
		auth="Container"
		type="javax.sql.DataSource"
		driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://pgbouncer:6432/ipl"
		username="${PGBOUNCER_POSTGRES_USER}"
		password="${PGBOUNCER_POSTGRES_PASSWORD}"
		maxTotal="10"
		initialSize="1"
		minIdle="0"
		maxIdle="8"
		maxWaitMillis="-1"
		timeBetweenEvictionRunsMillis="30000"
		minEvictableIdleTimeMillis="60000"
		testWhileIdle="true"
		validationQuery="SELECT 1"
		rollbackOnReturn="true"
	/>
</Context>
